{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
Bonjour !
    <a href="{{ path('event') }}">Liste de nos prochains évènements</a>
{% endblock %}
